<h1>Todos los Productos</h1>
<div>
    <ul>
        {{#each products}}
        <li> {{this.title}}: {{this.price}}</li>
        {{/each}}
    </ul>
   
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>