{{!-- <div>
    <form action="/api/products" method="post">
    <div>
        <label>Ingrese el producto a eliminar</label>
        <input type="text" id="product-form">
    </div>
    <div>
        <label>Ingrese un texto</label>
        <input type="text" id="chat-input" name="chat-input">
        <p id="input-message"></p>
    </div>
       
    </form>
</div> --}}